/* 4 - External */

body {
    padding-bottom: 500px;
}

h3{
    color: green;
}

/* Classes */
.paragraph{
    background-color:  black;
    color: aqua;
    padding: 5px;
}

/* Id */

#exclusive-title {
    background-color: pink;
    color: yellow;
    padding: 10px;
}

/* Ordem das regras */

h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 2px solid blue;
}

#algumtitulo {
    border-bottom: 2px solid green;
}

/* Nome de cores */

.color-name {
    color: crimson;
    font-size: 30px;
}

/* HEX */

.hex{
    color: #55a398;
    font-size: 20px;
}

.hex2 {
    color: #98f8;
    font-size: 20px;
}

/* Aprofundamento em Hex */

.simple-hex {
    color: #A5F;
}

.simple-hex2 {
    color: #B6F7;
}

/* RGB */

.rgb {
    color:rgb(255, 0, 0)
}

.mixer-rgb {
    color: rgb(100, 200, 255)
}

/* RGBa */

.rgba {
    color: rgba(14, 14, 117, 1)
}

/* HSL */

.hsl {
    color: hsl(100, 20%, 30%)
}

.hsl2 {
    color: hsl(50, 60%, 70%)
}

/* BackGround-color */
.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: #55a398;
    color: #000;
}

.bg-opacidade {
    background-color: green;
    opacity: 0.2;
}

.rgba-opacidade {
    background-color: rgba(90, 120, 20, 0.2);
    color: #fff;
}

/* BG - Img */
.bg-img {
    background-image: url("../img/espaco.jpg");
    color: #fff;
    opacity: 0,5;
}

/* Centralizando BG img */
.not-center,
.center-bg {
    height: 400px; /* Altura */
    width: 400px;  /* Largura */
    background-image: url("../img/planetas.jpg");
}

.center-bg {
    background-position: center;
    background-size: cover;
}

/* altura e largura */

.height-width {
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2 {
    height: 300px;
    background-color: #333;
}

/* Regra de padding */
.without-padding,
.padding {
    background-color: #111;
    color: #fff;
}

.padding {
    background-color: #333;
    padding: 20px;
}

/* Padding individual */

.padding-individual {
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* Shorthand padding */

.shorthand-padding {
    background-color: #444;
    padding: 6px 12px 18px 24px;
}

.shorthand-padding2 {
    background-color: #555;
    padding: 10px 20px; /* vertical e horizontal */
}

/* Padding com width */
.without-border-box{
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}

.border-box {
    background-color: #777;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border */
.border {
    border: 5px solid red; /* Largura da borda, aparencia da borda e cor */
    padding: 10px;
}

.border-2 {
    border: 2px dotted #777;
    padding: 20px;
}

/* Borda Individual */
.border-left {
    border-left: 3px solid red;
    background-color: #222;
    padding: 20px;
    color: #fff;
}

.border-bottom {
    border-bottom: 5px double #399;
    background-color: #222;
    padding: 20px;
    color: #fff;
}

/* Borda arredondada */
.rounded-p {
    border: 4px solid blue;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 15px;
}

.rounded-p-2 {
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 25px;
}

/* Margem */
.margin {
    margin: 10px;
    background-color: #222;
}

.margin-top {
    margin-top: 50px;
    background-color: #444;
    padding: 10px;
}

.margin-shorthand {
    background-color: #666;
    margin: 5px 10px 15px 20px;
}

/* Box Model */

.box-model {
    margin: 20px;
    padding: 15px;
    border: 3px solid #A5F;
    border-radius: 7px;
    width: 200px;
    height: 400px;
}

/* Text Align */
.text-aligned {
    text-align: right;
    color: #000;
}

.container-center {
    text-align: center;
    width: 300px;
    border: 1px solid #000;
}

/* Text Decoration */
.underline {
    text-decoration: underline;
    color: #000;
}

.line-trough {
    text-decoration: line-through;
    color: #000;
}

.remove-underline {
    text-decoration: none;
    color: blue;
}

/* Text Transform */
.upper {
    text-transform: uppercase;
    color: #000;
}

.lower {
    text-transform: lowercase;
    color: #000;
}

/* Letter Spacing */
.spacing {
    letter-spacing: 5px;
    color: #000;
}

/* Fontes */
.serif {
    font-family: Georgia;
}

.sans-serif {
    font-family: Helvetica;
}

.monospace {
    font-family: monospace;
}

.cursive {
    font-family: cursive;
}

.fantasy{
    font-family: fantasy;
}

/* Font Style */

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;   
}

/* Font Weight */  
.thin, .bold, .bolder {
    font-family: Helvetica;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 900;
}

/* Font Size */
.small{
    font-size: 10px;
}

.big {
    font-size: 60px;
}

/* Display */

.inline-box{
    width: 50px;
    height: 50px;
    background-color: #4f8;
    margin: 10px;
    display: inline-block; /*Coloca a Div uma do lado da outra */
}

.block{
    background-color: #333;
    display: block;
    margin: 10px;
    color: #fff;
}

.invisible {
    display: none;
}