/* 4 - External */

body {
    padding-bottom: 500px;
}

h3{
    color: green;
}

/* Classes */
.paragraph{
    background-color:  black;
    color: aqua;
    padding: 5px;
}

/* Id */

#exclusive-title {
    background-color: pink;
    color: yellow;
    padding: 10px;
}

/* Ordem das regras */

h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 2px solid blue;
}

#algumtitulo {
    border-bottom: 2px solid green;
}

/* Nome de cores */

.color-name {
    color: crimson;
    font-size: 30px;
}

/* HEX */

.hex{
    color: #55a398;
    font-size: 20px;
}

.hex2 {
    color: #98f8;
    font-size: 20px;
}