/* 4 - External */

body {
    padding-bottom: 500px;
}

h3{
    color: green;
}

/* Classes */
.paragraph{
    background-color:  black;
    color: aqua;
    padding: 5px;
}

/* Id */

#exclusive-title {
    background-color: pink;
    color: yellow;
    padding: 10px;
}