/* Geral */ 

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: #333;
}

p {
    color: #70747a;
}

/* Nav Bar */

.navbar_container {
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}

nav {
    position: relative;
    
}

.logo {
    width: 50px;
    margin-top: 15px;
}

.navbar_items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar_items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar_items a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.navbar_items a:hover { 
    color: #ccc;
}

.default_btn {
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 5px;
}

.navbar_items .default_btn:hover {
    background-color: #22bb5f;
    color: #fff;
}

/* Main Banner */
.main_banner {
    background-image: url("../img/mainbanner.png");
    background-size: cover;
    background-position: center;
    padding: 10rem 0; 
}

.main_banner h1,
.main_banner p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

.main_banner h1 {
    font-size: 54px;
}
.main_banner p {
    font-size: 32px;
}

/* Servicos */
.services_container {
    padding: 5rem 0;
}

.services_container ul {
    display: flex; /* Colcoca o texto um do lado do outro */
    width: 90%;
    margin: 0 auto;
}

.services_container li {
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas {
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt {
    color: #2cc76a;
}
.fa-rocket {
    color: #ef3f29;
}
.fa-comments {
    color: #ef8f29;
}

.services_container h3 {
    margin-bottom: 25px;
}

.services_container p {
    line-height: 24px; /* Afasta o texto entre linhas (melhor para ler)*/ 
}

/* Price and Plans */
.pricing_container {
    padding-bottom: 5rem;   
    text-align: center;

}

.pricing_container h2 {
    font-size: 36px;
}

.pricing_container p {
    font-size: 20px;
}

.plans_container {
    display: flex;
    justify-content: space-between; /* Faz o espacamento igualmente com os item e espaco que tem disponivel */ 
    width: 90%;
    margin: 50px auto 0;
}

.plan {
    flex: 1; /* Digo que todos eles tem o tamanho igual no flex*/
    max-width: 275px; /* Largura maxima */
    margin: 0 20px;
}

.plan ul {
    padding: 0;
}

.plan li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
}

.plan .price {
    width: 120px;
    height: 120px;
    border-radius: 50% ;
    background-color: #2cc762;
    color: #fff;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative; /* fica por cima */
}

.plan .plan_name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #202b34;
    padding: 50px 0;
}

.plan .plan_btn {
    background-color: #2cc762;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}

.plan .recommended {
    background-color: #f45c57;
}